In [1]:
import pandas as pd

In [2]:
stock_csv_path = "../../Analysis/DowJonesIndexData.csv"

stock_df = pd.read_csv(stock_csv_path)
stock_df

,Date,Month,Day,Year,Open,High,Low,Close,Adj Close,Volume
0,1/2/1992,1,2,1992,3152.100098,3172.629883,3139.310059,3172.399902,3172.399902,235500
1,1/3/1992,1,3,1992,3172.399902,3210.639893,3165.919922,3201.500000,3201.500000,236200
2,1/6/1992,1,6,1992,3201.500000,3213.330078,3191.860107,3200.100098,3200.100098,272800
3,1/7/1992,1,7,1992,3200.100098,3210.199951,3184.479980,3204.800049,3204.800049,255100
4,1/8/1992,1,8,1992,3204.800049,3229.199951,3185.820068,3203.899902,3203.899902,290400
...,...,...,...,...,...,...,...,...,...,...
7322,1/27/2021,1,27,2021,30893.779300,30893.779300,30206.910160,30303.169920,30303.169920,5664700
7323,1/28/2021,1,28,2021,30377.189450,30951.410160,30377.189450,30603.359380,30603.359380,4651400
7324,1/29/2021,1,29,2021,30553.910160,30553.910160,29856.300780,29982.619140,29982.619140,5363200
7325,2/1/2021,2,1,2021,30054.730470,30335.910160,30014.970700,30211.910160,30211.910160,3470600
7326,2/2/2021,2,2,2021,30276.880860,30840.539060,30276.880860,30687.480470,30687.480470,3331600

In [26]:
group_stock = stock_df.groupby(["Year"])

year_open = group_stock["Open"].first()
year_close = group_stock["Close"].last()
year_change = year_close-year_open
perc_change = 1 - (year_close/year_open)
avg_close = group_stock["Close"].mean()

In [29]:
dowjones_df = pd.DataFrame({
    "First Open": year_open,
    "Last Close": year_close,
    "Average Close": avg_close,
    "Change": year_change,
    "Percent Change": perc_change
    
})
dowjones_df["Percent Change"] = dowjones_df["Percent Change"].map("{:.2f}%".format)
dowjones_df

        First Open    Last Close  Average Close       Change Percent Change
Year
1992   3152.100098   3301.110107    3284.080357   149.010009         -0.05%
1993   3301.100098   3754.090088    3524.918453   452.989990         -0.14%
1994   3754.100098   3834.439941    3794.222298    80.339843         -0.02%
1995   3834.399902   5117.120117    4494.276383  1282.720215         -0.33%
1996   5115.700195   6448.270020    5739.626469  1332.569825         -0.26%
1997   6447.500000   7908.299805    7447.007625  1460.799805         -0.23%
1998   7910.200195   9181.429688    8630.764420  1271.229493         -0.16%
1999   9184.009766  11497.120120   10481.555222  2313.110354         -0.25%
2000  11501.849610  10787.990230   10729.377651  -713.859380          0.06%
2001  10790.919920  10021.570310   10208.861954  -769.349610          0.07%
2002  10021.709960   8341.629883    9214.852667 -1680.080077          0.17%
2003   8342.379883  10453.919920    9006.636667  2111.540037         -0.25%
2004  10452.740230  10783.009770   10315.512770   330.269540         -0.03%
2005  10783.750000  10717.500000   10546.655534   -66.250000          0.01%
2006  10718.299810  12463.150390   11409.779702  1744.850580         -0.16%
2007  12459.540040  13264.820310   13178.255381   805.280270         -0.06%
2008  13261.820310   8776.389648   11244.062604 -4485.430662          0.34%
2009   8772.250000  10428.049810    8885.654698  1655.799810         -0.19%
2010  10430.690430  11577.509770   10668.583458  1146.819340         -0.11%
2011  11577.429690  12217.559570   11957.570003   640.129880         -0.06%
2012  12221.190430  13104.139650   12965.313442   882.949220         -0.07%
2013  13104.299810  16576.660160   15009.522775  3472.360350         -0.26%
2014  16572.169920  17823.070310   16777.690937  1250.900390         -0.08%
2015  17823.070310  17425.029300   17587.088213  -398.041010          0.02%
2016  17405.480470  19762.599610   17927.107349  2357.119140         -0.14%
2017  19872.859380  24719.220700   21750.203748  4846.361320         -0.24%
2018  24809.349610  23327.460940   25053.949997 -1481.888670          0.06%
2019  23058.609380  28538.439450   26379.543798  5479.830070         -0.24%
2020  28638.970700  30606.480470   26890.673612  1967.509770         -0.07%
2021  30627.470700  30687.480470   30785.956660    60.009770         -0.00%

In [30]:
dowjones_df.to_csv("DowJonesCleaned")